.congrats-screen {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: auto;
    text-align: center;
    opacity: 1;
}

.congrats-screen {
    font-family: "Creepster";
}

.text-button {
    margin-top: -3rem;
}